<% include partials/head.ejs %>
    <title>Bar Locations - Drinkerz</title>
</head>
<body>
    <header>
        <% include partials/navigation.ejs%>
    </header>
    <h1 class="is--first"> Bar Locations</h1>
    <main>
        <section class="card-grid">
           
                <% for (let i = 0; i < barLocations.length; i++) { %>
                    <article class="card">
                        <img src="<%= barLocations[i].imgUrl %>" alt="Impression image of the bar" class="card__image">
                        <div class="card__meta-block">
                            <h3 class="card__meta-title"><%= barLocations[i].name %></h3>
                            <p><b>Straat:</b> <%= barLocations[i].street %></>
                            <p><b>Plaats:</b> <%= barLocations[i].vicinity %></p>
                            <p><b>Beschrijving:</b> <%= barLocations[i].description %></p>
                        </div>
                    </article>
                <% } %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
