<% include partials/head.ejs %>
<title>Home | Drinkerz</title>
</head>
<body>
  <% include partials/navigation.ejs%>
  <main>

    <section class="beerResults__container">
        <form id="beer__search" action="/search-beer" class="beer__search" method="post">
          <input type="text" name="beerName" id="searchName" value="<%= beerSearchValue %>">
          <button type="submit" class="beer__search__button" name="button">search</button>
        </form>
        <% if (beerResults) { %>
          <ul class="beerList">


        <% for (let i = 0; i < beerResults.length; i++) { %>
        <li>
          <h2>
            <%= beerResults[i].beer.beer_name %>
          </h2>
          <img src="<%- beerResults[i].beer.beer_label %>" alt="<%- beerResults[i].beer.beer_name %>">
          <p>

          </p>
          <form action="/add-beer" method="post">
            <input class="invisible" type="text" name="beerName" value="<%- beerResults[i].beer.beer_name %>">
            <input class="invisible" type="text" name="beerBid" value="<%- beerResults[i].beer.bid %>">
            <input class="invisible" type="text" name="beerDescription" value="<%- beerResults[i].beer.beer_description %>">
            <input class="invisible" type="text" name="beerImg" value="<%- beerResults[i].beer.beer_label %>">
            <input class="invisible" type="text" name="brewery" value="<%- beerResults[i].brewery.brewery_name %>">
            <button type="submit" name="button">Add
              <%- beerResults[i].beer.beer_name %></button>
          </form>
        </li>
        <% } %>
        </ul>
        <% } %>
      </section>

</main>

  <% include partials/footer.ejs %>
</body>

</html>
