<% include partials/head.ejs %>
    <title>Matches - Drinkerz</title>
</head>
<body>
    <header>
        <% include partials/navigation.ejs%>
    </header>
    <h1 class="is--first">Your matches</h1>
    <main>
        <section class="card-grid">
                <!-- Here will be the matches shown based on the user -->
                <% for (let i = 0; i < matches.length; i++) { %>
                <a href="/<%= matches[i].id %>">
                    <article class="card">
                        <!-- Image of the user -->

                        <!-- Send a like to the array and saves it -->
                        <form action="/matches" method="GET">
                            <input type="hidden" name="currentPerson" value="<%= matches[i].id %>">
                            <button type="submit"> Remove <%= matches[i].firstName %></button>

                        </form>
                        <!-- Name and city the person lives in -->
                        <section>
                            <h2><%= matches[i].firstName + " " + matches[i].lastName %></h2>
                            <p><%= matches[i].city %></p>
                        </section>
                    </article>
                </a>
            <% } %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
