<% include partials/head.ejs %>
    <title>Matches - Drinkerz</title>
</head>
<body>
    <header>
        <% include partials/navigation.ejs%>
    </header>
    <h1 class="is--first">Your matches</h1>
    <main>
        <section class="card-grid">
                <!-- Here will be the matches shown based on the user -->
                <% for (let i = 0; i < matches.length; i++) { %>
                <a href="/<%= matches[i].id %>">
                    <article class="card">
                        <!-- Image of the user -->
                        <img src="<%= userImages[i].url %>" alt="Profile image of <%= matches[i].firstName %>" class="card__img">
                        <!-- Sends the user.id to a array -->
                        <!-- Name and city the person lives in -->
                        <section class="card__meta-block">
                            <form action="" method="GET">
                                <input type="hidden" name="personid" value="<%= matches[i].id %>">
                                <button type="submit" id="add" class="">Like <%= matches[i].firstName %></button>
                            </form>
                            <h3 class="card__meta-title"><%= matches[i].firstName + " " + matches[i].lastName %></h3>
                            <p>Age: <%= matches[i].age %></p>
                        </section>
                    </article>
                </a>
            <% } %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>
