<% include partials/head.ejs %>
    <title>My feed - CycLove</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"><img src="/static/media/images/cyclove-logo.svg" alt="Logo CycLove"></a></li>
                <li><a href="/log-out">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1> Who to match?</h1>
    <main>
        <section class="card-grid">
                <!-- Userpage will be the page where all the info is shown -->
                <% for (let i = 0; i < users.length; i++) { %>
                <a href="/<%= users[i].id %>">
                    <article class="card">
                        <!-- Image of the user -->
                        <img src="<%= users[i].image %>" alt="Profile picture from <%= users[i].firstName %>" class="card__img">
                        <!-- Send a like to the array and saves it -->
                        <form action="User disolves on a like" method="POST">
                            <button id="like" value="<%= users[i].id %>">Like <%= users[i].firstName %></button>
                        </form>
                        <!-- Name and city the person lives in -->
                        <section>
                            <h2><%= users[i].firstName + " " + users[i].lastName %></h2>
                            <p><%= users[i].city %></p>
                        </section>
                    </article>
                </a>
            <% } %>
        </section>
    </main>
    <% include partials/footer.ejs %>
</body>
</html>